array/a.out
array/main.c

generic_functions/main.c
generic_functions/a.out

hash_map/a.out
hash_map/main.c
hash_map/main.out
hash_map/example.out
hash_map/test.out

hash/a.out
hash/main.c

linked_list/a.out
linked_list/main.c

logger/a.out
logger/main.c
logger/log.out

string/a.out
string/main.c
