array/a.out
array/main.c

hash_map/a.out
hash_map/main.c

hash_map_2/a.out
hash_map_2/main.c

hash/a.out
hash/main.c

linked_list/a.out
linked_list/main.c

logger/a.out
logger/main.c
logger/log.out

string/a.out
string/main.c
